<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_fake_hardware" default="false"/>

    <!-- dont need the line below anymore, but keeping it for posterity -->
    <!-- <xacro:include filename="panda_arm.urdf" /> -->

    <!-- begin file edited by hand -->
    <xacro:if value"$(arg use_fake_hardware)">
        <!-- Import panda urdf file -->
        <xacro:include filename="panda_arm_fake.urdf"/> 
        <!-- Import control_xacro -->
        <xacro:include filename="panda_arm_fake.ros2_control" />
    </xacro:if>

    <xacro:unless value"$(arg use_fake_hardware)">
        <!-- Import panda urdf file -->
        <xacro:include filename="panda_arm_real.urdf"/>
        <!-- Import control_xacro -->
        <xacro:include filename="panda_arm_real.ros2_control" />
    </xacro:unless>
    <!-- end file edited by hand -->



    <!-- <xacro:panda_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
